<div class="game-board">
  <div class="board">
    <div>
      <app-square
        *ngFor="let square of squares | slice: 0:3; index as i"
        [value]="square"
        (playerClick)="clickHandler(i)"
      ></app-square>
    </div>
    <div>
      <app-square
        *ngFor="let square of squares | slice: 3:6; index as i"
        [value]="square"
        (playerClick)="clickHandler(i + 3)"
      ></app-square>
    </div>
    <div>
      <app-square
        *ngFor="let square of squares | slice: 6; index as i"
        [value]="square"
        (playerClick)="clickHandler(i + 6)"
      ></app-square>
    </div>
  </div>
  <div class="gameMsg">
    <div *ngIf="winner !== 'tie' && (winner === 'X' || winner === 'O')">
      winner is {{ winner }}
    </div>
    <div *ngIf="winner === 'tie'">Its a Tie!</div>
  </div>
  <button class="btn btn-outline-secondary" (click)="startGame()">
    Start Game
  </button>
</div>
