<div class="container-fluid">
  <div class="row">
    <div class="col-3 mt-5">
      <!-- Display Message -->
      <div class="msg ml-4">
        <!--If its not a tie and winner is either X or O print winner msg-->
        <div *ngIf="winner !== 'tie' && (winner === 'X' || winner === 'O')">
          <div *ngIf="winner === 'X'; else winnerO">
            Winner : <span class="winner x">PLAYER {{ winner }}</span>
          </div>
          <ng-template #winnerO>
            Winner : <span class="winner o">PLAYER {{ winner }}</span>
          </ng-template>
        </div>
        <!-- If its a tie print out tie msg -->
        <div *ngIf="winner === 'tie'">
          <span class="tie ml-3">Its a Tie!</span>
        </div>
      </div>
      <!--Display restart button when game is over-->
      <div *ngIf="gameOver === true; else clickSquare">
        <button class="btn btn-outline-secondary col-12" (click)="startGame()">
          Play Again!
        </button>
      </div>
      <ng-template #clickSquare><p>Click any square to begin!</p></ng-template>
    </div>
    <!-- Printing out the squares -->
    <div class="col-9 row">
      <div>
        <app-square
          *ngFor="let square of squares | slice: 0:3; index as i"
          [value]="square"
          (playerClick)="clickHandler(i)"
        ></app-square>
      </div>
      <div>
        <app-square
          *ngFor="let square of squares | slice: 3:6; index as i"
          [value]="square"
          (playerClick)="clickHandler(i + 3)"
        ></app-square>
      </div>
      <div>
        <app-square
          *ngFor="let square of squares | slice: 6; index as i"
          [value]="square"
          (playerClick)="clickHandler(i + 6)"
        ></app-square>
      </div>
    </div>
  </div>
</div>
