.del {
  background: #f5616d;
  color: #f2f2f2;
  border: none;
  padding: 0px 9px;
  border-radius: 0.2rem;
  cursor: pointer;
  float: right;
}
.todo {
  background: #e4d9ff;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.is-complete {
  text-decoration: line-through;
  text-decoration-color: #f5616d;
  background: #c7efcf;
  margin-left: 1rem;
}
