.parent-div {
  height: 100vh;
  background-color: #413c58;
}
.child-div {
  width: 42rem;
  height: 15rem;
  background-color: #e4d9ff;
  box-shadow: 10px 0 0 #e4d9ff, 20px 0 0 #413c58, 30px 0 0 #e4d9ff,
    0 10px 0 #e4d9ff, 10px 10px 0 #413c58, 20px 10px 0 #e4d9ff,
    30px 10px 0 #413c58, 0 20px 0 #413c58, 10px 20px 0 #e4d9ff,
    20px 20px 0 #413c58, 30px 20px 0 #e4d9ff, 0 30px 0 #e4d9ff,
    10px 30px 0 #413c58, 20px 30px 0 #e4d9ff, 30px 30px 0 #413c58,
    -50px -15px 49px -30px rgba(0, 0, 0, 0);
}
